.main {
    &__btn {
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #f9b300;
        color: #fff;
        border: 0;
        outline: 0;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            background-color: #e2a300;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        span {
            font-weight: 700;
        }
    }
}
.catalog {
    &__title {
        font-size: 18px;
        font-weight: 600;
    }
}